@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.cards {
  display: flex;
  flex-basis: 70vh;
  align-content: center;
  justify-content: space-around;
  background-color: whitesmoke;
  height: 70vh;
  flex-shrink: 0;
}

main {
  display: flex;
  flex-direction: column;
}

.title {
  align-items: center;
  background-color: rgb(252, 247, 248);
  flex-basis: 10rem;
}

#buscador {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 1;

}

i {
  width: 50px;
  height: 50px;
}

.card img {
  height: 20vh;
  width: auto;
}


/* .navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  width: 20px;
  height: 20px;
  background-size: cover;
} */

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler:hover {
  outline: none;
}